<mat-toolbar color="primary" *ngIf="isLoggedIn">
  <span>Demo App</span>
  <span class="spacer"></span>

  <ng-container *ngIf="role === 'EMPLOYEE'">
    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/submit-request">Submit request</button>
    <button mat-button routerLink="/edit-requests">Edit requests</button>
    <button mat-button routerLink="/history">History</button>
  </ng-container>


  <button mat-button *ngIf="role === 'MANAGER'" routerLink="/review">Manager</button>

  <p style="color: lightgray">Logged in as: {{ role }}</p>

  <button mat-button (click)="logout()">Logout</button>
</mat-toolbar>
