<mat-toolbar color="primary" *ngIf="isLoggedIn">
  <span>Time-Off Manager</span>
  <span class="spacer"></span>

  <ng-container *ngIf="role === 'EMPLOYEE'">
    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/submit-request">Submit Request</button>
    <button mat-button routerLink="/edit-requests">Edit Requests</button>
    <button mat-button routerLink="/history">My Requests</button>
  </ng-container>

  <button mat-button *ngIf="role === 'MANAGER'" routerLink="/review-requests">Review Requests</button>
  <button mat-button *ngIf="role === 'ADMIN'" routerLink="/admin-dashboard">Admin Dashboard</button>

  <span *ngIf="role" class="user-role-display">Role: {{ role }}</span>

  <button mat-button (click)="logout()">Logout</button>
</mat-toolbar>
