/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  background-image: linear-gradient(to right, #50b2e4, #2585ed);
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
